<%= form_for(@post) do |f| %>
  
   <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label :name%></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :body%></td>
      <td><%= f.text_area :body %></td>
    </tr>
  </table>

  <% if @parent %>
    <%= hidden_field_tag :parentid, @parent.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
