<% cache post do%>
<% post.posts.each do |post| %>
	<ul>
		<li> <span style="color: red;">ID - <%= post.id%></span>, Parent ID - <span style="color: green;"><%= post.postparent_id %></span>, <span style="font-size: 1.3em;"><%= link_to post.title, post %></span> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to "Удалить", post, :confirm => "Вы уверены?", :method => :delete %></li>
		<% if post.posts %>
			<%= render post %>
		<% end %>
	</ul>
<% end %>
<% end %>