<h1>Статьи</h1>
<% cache @post do %>
<% @posts.each do |post| %>
  <ul class="parent_post">
    <% if !post.postparent %>
    <li> <span style="color: blue;">ID - <%= post.id%></span> <span style="font-size: 1.5em;"><%= link_to post.title, post %></span> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to "Удалить", post, :confirm => "Вы уверены?", :method => :delete %>
    </li>
    <% if post.posts %>
      <%=render post %>
    <% end %>
    
    <% end %> 
  </ul>
<% end %>

<%
=begin %>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.id%></td>
    <td><%= link_to post.title, post %></td>
    <td><%= post.postparent_id %></td>
    <td><%= post.body %></td>

  </tr>
<% end %>
<%
=end %>


<br />

<%= link_to 'New Post', new_post_path %>
<% end %>