<% cache ['v1', @post] do %>
	<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>
	<p><%= markdown(@post.body) %></p>

	<br />
	<div> Дочерние ресурсы:
		<%= render @post %>
	</div>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', root_path %> |
	<%= link_to 'Add child`s post', new_post_post_path(@post) %>
<% end %>